.add-link {
   margin-bottom: 10px;
}

.banner-image-box{
   margin-top: 35px;
}



.scroll {
   // background-color: #fed9ff;
   width: inherit;
   height: 300px;
   overflow-x: auto;
   overflow-y: auto;
   text-align: center;
   // padding: 20px;
 }